:root {
    --mdc-theme-primary: #df3727;
    --mdc-theme-secondary: #f5f5f5;
    --mdc-theme-on-secondary: #1c1c1c;
    --mdc-ripple-focus-opacity: 0;
    --mdc-filled-button-pressed-state-layer-opacity: 0 !important;
    --mdc-text-button-pressed-state-layer-opacity: 0 !important;
    --mdc-checkbox-checked-color: #1c1c1c;
}

@media (prefers-color-scheme: dark) {

    :root {

        .mdc-floating-label {
            color: rgba(0, 0, 0, 0.87) !important;
        }

        body {
            --mdc-button-disabled-ink-color: #6f6f6f;
            --mdc-button-outline-color: rgba(225, 225, 225, 0.12);
            --mdc-radio-unchecked-color: rgba(33, 33, 33, 0.54);
            --mdc-select-disabled-dropdown-icon-color: rgba(0, 0, 0, 0.37);
            --mdc-select-disabled-fill-color: rgb(250, 250, 250);
            --mdc-select-disabled-ink-color: rgba(0, 0, 0, 0.37);
            --mdc-select-dropdown-icon-color: rgba(0, 0, 0, 0.54);
            --mdc-select-fill-color: rgb(245, 245, 245);
            --mdc-select-hover-line-color: rgba(0, 0, 0, 0.87);
            --mdc-select-idle-line-color: rgba(0, 0, 0, 0.42);
            --mdc-select-ink-color: rgba(0, 0, 0, 0.87);
            --mdc-select-label-ink-color: rgba(0, 0, 0, 0.6);
            --mdc-select-outlined-disabled-border-color: rgba(0, 0, 0, 0.06);
            --mdc-select-outlined-hover-border-color: rgba(0, 0, 0, 0.87);
            --mdc-select-outlined-idle-border-color: rgba(0, 0, 0, 0.38);
            --mdc-text-field-disabled-fill-color: rgb(250, 250, 250);
            --mdc-text-field-disabled-ink-color: rgba(0, 0, 0, 0.37);
            --mdc-text-field-disabled-line-color: rgba(0, 0, 0, 0.06);
            --mdc-text-field-fill-color: #1c1c1c;
            --mdc-text-field-hover-line-color: rgba(0, 0, 0, 0.87);
            --mdc-text-field-idle-line-color: rgba(0, 0, 0, 0.42);
            --mdc-text-field-ink-color: rgba(0, 0, 0, 0.87);
            --mdc-text-field-label-ink-color: rgba(0, 0, 0, 0.6);
            --mdc-text-field-outlined-disabled-border-color: rgba(0, 0, 0, 0.06);
            --mdc-text-field-outlined-hover-border-color: rgba(0, 0, 0, 0.87);
            --mdc-text-field-outlined-idle-border-color: rgba(0, 0, 0, 0.38);
            --mdc-theme-background: #111111;
            --mdc-theme-error: #db4437;
            --mdc-theme-on-primary: #ffffff;
            --mdc-theme-on-secondary: #ffffff;
            --mdc-theme-on-surface: #e1e1e1;
            --mdc-theme-secondary: #262626;
            --mdc-theme-surface: #1c1c1c;
            --mdc-theme-text-disabled-on-light: #6f6f6f;
            --mdc-theme-text-hint-on-background: #9b9b9b;
            --mdc-theme-text-icon-on-background: #9b9b9b;
            --mdc-theme-text-primary-on-background: #e1e1e1;
            --mdc-theme-text-secondary-on-background: #9b9b9b;
            background-color: #1c1c1c;

            .mdc-text-field,
            .mdc-select__anchor {
                background-color: #282828 !important;

                .mdc-floating-label {
                    color: rgba(255, 255, 255, 0.6) !important;
                }

                .mdc-line-ripple::after {
                    border-bottom-width: 2px;
                }

                &[aria-expanded="true"],
                &[class*="focused"] {
                    .mdc-line-ripple::before {
                        border-bottom-color: rgba(255, 255, 255, 0) !important;
                    }
                }

                .mdc-line-ripple::before {
                    background-color: rgba(255, 255, 255, 0.42);
                    z-index: 100;
                    transition: 100ms;
                    transition-delay: 50ms;
                }

                &:hover {
                    .mdc-line-ripple::before {
                        border-bottom-color: rgba(255, 255, 255, 0.22);
                    }

                    // background-color: rgba(255, 255, 255, 0.62);
                }

                .mdc-text-field__input,
                .mdc-select__selected-text {
                    color: rgba(255, 255, 255, 0.87);
                }
            }

            button[disabled] {
                background-color: rgba(118, 118, 118, 0.3);
                color: #ffffff40 !important;
            }

            .mdc-dialog .mdc-dialog__title {
                color: var(--mdc-theme-on-primary)
            }

            .mdc-dialog__actions button {
                background-color: var(--mdc-button-outline-color);
                color: white;
            }
        }
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;

    transition-duration: 500ms;
    transition-property: opacity, background-color;
    overflow: hidden;
    background-color: white;
}

#fileCatcher{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
    background-color: rgba(118, 118, 118, 0.3);
    transition: 250ms opacity;
    opacity: 0;
}
#fileCatcher.droppable{
    pointer-events: all;
    opacity: 1;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 15px - calc(48px + 1em));
    width: 50%;
    padding: 0 3em;
}

#wrapper {
    width: 200%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    transition: 500ms transform cubic-bezier(0, 0, 0, 1);
    padding-top: calc(48px + 1em) !important;
}

#wrapper.slide {
    transform: translateX(-50%);
}

#downloadOptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    justify-self: flex-end;

    >div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}

input {
    width: 200px;
}

.mdc-button__ripple::after,
.mdc-button__ripple::before {
    transition: 250ms !important;
}

#ytLink {
    width: 400px;
    max-width: 61vw;
    margin-top: 1em;
}

#downloadPage {
    button {
        color: white;
        width: min-content;
    }

    button * {
        transition: 200ms;
        transition-property: background-color color;
    }
}

#iframe {
    margin: 1em;
    aspect-ratio: 16 / 9;
    max-width: calc(100vw - 2em);
    flex: auto;
    display: flex;

    .mdc-circular-progress {
        position: absolute !important;
        left: calc(50vw - 24px);
        align-self: center;
        z-index: 1;
    }

    .mdc-circular-progress * {
        z-index: 1;
    }
}

#preview {
    transition: 200ms opacity;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.mdc-text-field,
.mdc-select__anchor {
    transition: background 500ms;
}

iframe {
    * {
        z-index: 2 !important;
    }
}

#progressBar, #progressBarConvert {
    width: 200px;
    background-color: lightgray;
}

#downloadType>div {
    width: 216px;
    min-width: max-content;
}



//? Converter page
#convertPage {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // gap: 2em;

    #previewVid {
        aspect-ratio: 16/9;

        filter: opacity(1);
        width: 800px;
        max-width: 61vw;
    }

    #openVideo {
        margin-top: 1em;
    }

    #convertVideo{
        margin-bottom: 1em;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mdc-form-field {
        margin-bottom: 1em;
        >*:not(label) {
            margin-left: 1em;
        }
    }
}